<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>
<body>

    <%- include('../includes/navigation.ejs') %>
        <main align="center">
            <h1>My Products</h1>
                <% if (prods.length > 0) { %> 
                        <div class="grid" >
                            <% for (let products of prods) {  %>    
                            <article  class="card product-item"> 
                                <header class="card__header">
                                    <h1 class="product__title"><%= products.title %></h1>
                                </header>

                                <div class="card__image">
                                    <img src="<%= products.imageUrl %>"
                                alt="<%= products.title %>"
                                style="width: 250px ;
                                        height: 250px;"    >
                                </div>

                                <div class="card__content">
                                    <h2 class="product__price">$<%= products.price %></h2>
                                    <p class="product__description"><%= products.description %></p>
                                </div>

                                <div class="card__actions">
                                    <button class="btn">Add to Cart</button>
                                </div>
                                
                            </article>
                            <% } %>
                        </div>
                    <% } else { %>
                        <h1>No Products found!</h1>
                    <% } %>
            </main align="center">
<%- include('../includes/footer.ejs') %>
  